@import 'variables';

@mixin flex($direction: row, $justify-content: flex-start, $align-items: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align-items;
  justify-content: $justify-content;
}
@mixin button {
  background-color: $buttons-color;
  color: $font-color-secondary;
  border: none;
  text-align: center;
  &:hover {
    border: 1px solid $font-color-secondary;
  }
  &:active {
    border: 3px solid $font-color-secondary;
  }
  @content;
}

@mixin appMessage {
  width: 80vw;
  height: 80vh;
  background-color: $background-color;
  border: 1px black dashed;
  @content;
}
@mixin breakPoint1400px {
  @media screen and (min-width: 1400px) {
    @content;
  }
}
@mixin sectionRecipes {
  @include flex($justify-content: center, $align-items: center);
  height: 90vh;
  width: 85vw;
  color: $font-color-grey;
  .wrapper {
    @include appMessage;
    padding: 3% 3%;
  }
}
