//main width of content
$content-width: 1200px;

// page colors
$nav-sidePanel-color: #5b605f;
$header-color: #49494a;
$buttons-color: #ff6600;
$background-color: #fffffa;
$message-info: #3498db;
$message-warning: #ffb03b;
$message-success: #468966;
$dustbin-color: #bd4932;
$icons-and-table-color: #a1a194;
$header-accents-color: #e58a20;

//fonts
$main-font: 'Open Sans', sans-serif;
$logo-font: 'Charmonman', sans-serif;
$font-color-grey: #5b5f5f;
$font-main-size: 14px;
$font-color-secondary: #ffffff;
